<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../img/v.G.A5.svg">
    <title>Servicios</title>
</head>
<body>
    <div>
        <!--HEADER-->
        <header>
             <!-- LOGO -->
            <nav class="navbar navbar-expand-lg navbar-light   bg-light estiloMenu">
                <button class="navbar-toggler" data-target="#menu" data-toggle="collapse"><span class="navbar-toggler-icon" type= "button"></span></button>
                 <a href="../index.html"><img src="../img/v.G.A4.svg" class="estiloMenu__logo" alt=""></a>             
             <!--LISTA DEL MENU-->
              <div class="collapse navbar-collapse" id="menu" >
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="../index.html" class="nav-link">Inicio</a>
                    </li>
                      <li class="nav-item dropdown active">
                          <a class="nav-link dropdown-toggle" href="servicios.html" data-toggle="dropdown">
                            Servicios
                          </a>
                          <div class="dropdown-menu">
                            <ul style="padding-left: 0px;">
                                <li class="dropdown-item"><a href="servicios.html#ancla1">Desinfección</a></li>
                                <li class="dropdown-item"><a href="servicios.html#ancla2">Desinsectación</a></li>
                                <li class="dropdown-item"><a href="servicios.html#ancla3">Desratización</a></li>
                                <li class="dropdown-item"><a href="servicios.html#ancla4">Limpieza de tanque</a></li>
                             </ul>
                          </div>
                      </li>
                    <li class="navbar-item">
                       <a href="conocenos.html" class="nav-link">Conocenos</a>
                    </li>
                    <li class="navbar-item">
                        <a href="contacto.html" class="nav-link">Contacto</a>
                    </li>
                </ul>
              </div>
            </nav>
        </header>

        <!--ARTICULOS DE SERVICIO DE LA EMPRESA-->
        <h2 class="tituloServicios">Nuestros servicios</h2>
        
        <div class="flexcontainerServicios fondo">
          <div class="containerServicios itemflexServicios">
              <div>  
                  <h1 class="tituloServiciosDos">DESINFECCION</h1>  
              </div>
              <div class="contenidoServicios itemflexcontenidoServicios">
                  <img src="../img/desinfeccion.jpg" alt="" class="imagenServicios">
                  <p>La desinfección es un procedimiento mediante el cual se controlan hongos, bacterias y virus, incluido el virus SARS COV2 o más bien conocido como COVID-19. La desinfección permite bajar la carga viral de ambientes y superficies.
                      Dependiendo el área a tratar, su sensibilidad y posibilidades, se determinará la maquinaria a utilizar. La maquinaria a utilizar puede ser autónoma (a combustión) o eléctrica, pero siempre se utilizan maquinas ULV (ultra bajo volumen) para garantizar una correcta penetración en todo tipo de superficies sin dañar las mismas. Esta metodología permite realizar con total seguridad desinfecciones sobre todo tipo de superficies y ambientes. No mancha, no afecta telas ni artefactos eléctricos y/o electrónicos.</p>
                  <button type="" class="botonServicios"><a href="#" class="aBoton">CONTRATAR</a></button>
              </div>
          </div>
          
          <div class="containerServicios itemflexServicios">
              <div>  
                  <h1 class="tituloServiciosDos">DESINSECTACIÓN</h1>  
              </div>
              <div class="contenidoServicios itemflexcontenidoServicios">
                  <img src="../img/DESINSECTACION.jpg" alt="" class="imagenServicios">
                  <p> Aunque son unaplaga que principalmente lo que causa son molestias, su presencia tienen implicaciones. Identificamos el lugar de refugio y de tránsito de la plaga. Empleamos distintos productos, altamente seguros para el medio, que pueden ser en forma de gel, polvo o líquido. Los principios activos utilizados, poseen baja dosificación de insecticida con alto efecto expulsivo y de volteo y excelente poder residual. Se adaptan a cualquier tipo de instalaciones, no manchan, no dejan olor, no irritan y son elaborados por laboratorios de primera línea. tienen una toxicidad baja a los mamíferos y son efectivos a razones y concentraciones bien bajas.</p>
                  <button type="" class="botonServicios"><a href="#" class="aBoton">CONTRATAR</a></button>
              </div>
          </div>
      
          <div class="containerServicios itemflexServicios">
              <div>  
                  <h1 class="tituloServiciosDos">DESRATIZACIÓN</h1>  
              </div>
              <div class="contenidoServicios itemflexcontenidoServicios">
                  <img src="../img/DESRATIZACION.jpg" alt="" class="imagenServicios">
                  <p>Identificamos el área de refugio, el tránsito y las fuentes de alimentación. Empleamos distintas técnicas como uso de bandejas con pegamento, descartables, jaulas- trampa y aplicación de cebos tóxicos, ubicados estratégicamente fuera del alcance de los niños y las mascotas. En algunos casos confeccionamos previamente un croquis de las instalaciones para indicar la ubicación de los cebos para el control de los roedores.Este tratamiento contra ratones se realiza en aquellos lugares donde transiten o aniden esta plaga y en lugares estratégicos donde tenga fácil acceso. Los ratones al ingerirla, se van desecando internamente por un desangrado, tardando 24 hs en morir  no dejando feo olor.</p>
                  <button type="" class="botonServicios"><a href="#" class="aBoton">CONTRATAR</a></button>
              </div>
          </div>
      
          <div class="containerServicios itemflexServicios ">
              <div>  
                  <h1 class="tituloServiciosDos">LIMPIEZA DE TANQUES</h1>  
              </div>
              <div class="contenidoServicios itemflexcontenidoServicios">
                  <img src="../img/LIMPIEZA DE TANQUES.jpg" alt="" class="imagenServicios">
                  <p>Limpieza y desinfección de tanques de agua potable y análisis correspondiente.Contamos con personal capacitado para la limpieza mecánica y química de la pared interna del tanque de agua. Nuestra empresa considera a la toma y preservación de muestras de agua como el objetivo máximo. El muestreo se basa en tomar una cantidad mínima y suficiente en volumen para ser transportada y manejada en laboratorio con la certeza que es representativa del material de partida, lo que implica que las concentraciones de los componentes no sólo sean los mismos que en la fuente, sino que no varíen ante de realizar el análisis.</p>
                  <button type="" class="botonServicios"><a href="#" class="aBoton">CONTRATAR</a></button>
              </div>
          </div>
          </div>
    
    
    
     <!--FOOTER-->
     <footer class="text-white py-4 navbar-dark bg-dark"">
        <div class="container  ">
            <nav class="row">
               <a href="" class="col-4 text-reset d-flex align-items-center">
                   <img src="../img/v.G.A5.svg" class="estiloMenu__logo" alt="" >
               </a> 
               <ul class="col-4 list-unstyled">
                 <li><a href="../index.html" class="text-white" >Inicio</a></li>
                 <li><a href="../views/servicios.html" class="text-white">Servicios</a></li>
                 <li><a href="../views/conocenos.html" class="text-white">Conocenos</a></li>
                 <li><a href="../views/contacto.html" class="text-white">Contacto</a></li> 
               </ul>
               <ul class="col-4 list-unstyled">
                  <li class="font-weight-blod text-uppercase">Nuestras redes</li>
                  <li class="d-flex px-4">
                       <a href="#"><img src="../img/facebook-brands.svg" width="30" height="30" alt=""></a>
                       <a href="#"><img src="../img/instagram-square-brands.svg" width="30" height="30" alt=""></a>
                  </li>
               </ul>
            </nav>
         </div> 
         
     </footer>
     <div class="d-flex justify-content-center pieDeFooter">
         <p class="pieDeFooter__texto">Creador por <a href="#" class="pieDeFooter__texto" >Moreira Gaston</a></p>
     </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>